
body{
    font-family: Arial;
    background:#e3f2fd;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    transition:0.3s;
}
.dark{background:#121212;color:white;}

.container{
    background:white;
    padding:25px;
    width:360px;
    border-radius:15px;
    position:relative;
    transition:0.3s;
}
.dark .container{background:#1e1e1e;color:white;}

input,select,button{
    width:100%;
    margin-top:8px;
    padding:8px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    background:#1565c0;
    color:white;
    border:none;
    cursor:pointer;
}
button.reset{background:#757575;}
.top-buttons{display:flex;gap:10px;margin-bottom:10px;}
.buttons-row{display:flex;gap:10px;margin-top:10px;}
.side-buttons{display:flex;gap:10px;margin-top:10px;}
.progress{
    background:#ccc;
    height:12px;
    border-radius:10px;
    margin-top:10px;
}
#bar{
    height:100%;
    width:0%;
    background:green;
    border-radius:10px;
    transition:0.5s;
}

/* HISTORY SLIDE */
.history-slide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    margin-top:10px;
    border:1px solid #ccc;
    padding:0 5px;
    border-radius:6px;
}
.history-slide.open {
    max-height: 200px;
    padding:5px;
}

/* CHATBOT SLIDE */
.q{
    color:#1565c0;
    cursor:pointer;
    font-weight:bold;
}
.q:hover{
    text-decoration: underline;
}
.settings-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    background: #1565c0;
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.settings-btn:hover{
    background:#0d47a1;
}
/* SETTINGS MENU POSITION */
.settings-menu{
    position: fixed;
    top: 80px;
    right: 20px;
    width: 200px;
    z-index: 999;
}
