body{
    font-family: Arial;
    background:#e3f2fd;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    transition:0.3s;
}
.dark{background:#121212;color:white;}

.container{
    background:white;
    padding:25px;
    width:360px;
    border-radius:15px;
    position:relative;
    transition:0.3s;
}
.dark .container{background:#1e1e1e;color:white;}

input,select,button{
    width:100%;
    margin-top:8px;
    padding:8px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    background:#1565c0;
    color:white;
    border:none;
    cursor:pointer;
}
button.reset{background:#757575;}
.top-buttons{display:flex;gap:10px;margin-bottom:10px;}
.buttons-row{display:flex;gap:10px;margin-top:10px;}
.side-buttons{display:flex;gap:10px;margin-top:10px;}
.progress{
    background:#ccc;
    height:12px;
    border-radius:10px;
    margin-top:10px;
}
#bar{
    height:100%;
    width:0%;
    background:green;
    border-radius:10px;
    transition:0.5s;
}

/* HISTORY SLIDE */
.history-slide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    margin-top:10px;
    border:1px solid #ccc;
    padding:0 5px;
    border-radius:6px;
}
.history-slide.open {
    max-height: 200px;
    padding:5px;
}

/* CHATBOT SLIDE */
#chatContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:6px;
    padding:0 5px;
}
#chatContainer.open {
    max-height: 300px;
    padding:5px;
}

.chatbox{
    height:120px;
    overflow:auto;
    padding:5px;
    background:#f9f9f9;
}
.dark .chatbox{background:#2c2c2c;}